
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --color: #000;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
    padding: 0;;
}

header h1 {
    margin: 0;
}

h2 {
    margin: 0.83em;
}
